In [44]:
import pandas as pd
import sys

In [45]:
print(sys.version)

3.13.5 | packaged by Anaconda, Inc. | (main, Jun 12 2025, 11:23:37) [Clang 14.0.6 ]

# Read in Data

In [46]:
df = pd.read_csv("Megastore_Dataset.csv")
df.head()

,OrderID,ProductName,Quantity,InvoiceDate,UnitPrice,TotalCost,Country,DiscountApplied,OrderPriority,Region,Segment,ExpeditedShipping,PaymentMethod,CustomerOrderSatisfaction
0,536370,INFLATABLE POLITICAL GLOBE,48,12/1/2010 8:45,$0.85,$40.80,United States,Yes,High,Northeast,Corporate,Yes,Credit Card,Satisfied
1,536370,SET2 RED RETROSPOT TEA TOWELS,18,12/1/2010 8:45,$2.95,$53.10,United States,Yes,High,Northeast,Corporate,Yes,Credit Card,Satisfied
2,536370,PANDA AND BUNNIES STICKER SHEET,12,12/1/2010 8:45,$0.85,$10.20,United States,Yes,High,Northeast,Corporate,Yes,Credit Card,Satisfied
3,536370,RED TOADSTOOL LED NIGHT LIGHT,24,12/1/2010 8:45,$1.65,$39.60,United States,Yes,High,Northeast,Corporate,Yes,Credit Card,Satisfied
4,536370,VINTAGE HEADS AND TAILS CARD GAME,24,12/1/2010 8:45,$1.25,$30.00,United States,Yes,High,Northeast,Corporate,Yes,Credit Card,Satisfied

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8234 entries, 0 to 8233
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   OrderID                    8234 non-null   int64
 1   ProductName                8234 non-null   object
 2   Quantity                   8234 non-null   int64
 3   InvoiceDate                8234 non-null   object
 4   UnitPrice                  8234 non-null   object
 5   TotalCost                  8234 non-null   object
 6   Country                    8234 non-null   object
 7   DiscountApplied            8234 non-null   object
 8   OrderPriority              8234 non-null   object
 9   Region                     8234 non-null   object
 10  Segment                    8234 non-null   object
 11  ExpeditedShipping          8234 non-null   object
 12  PaymentMethod              8234 non-null   object
 13  CustomerOrderSatisfaction  8234 non-null   object
dtypes: int64(2), object(12)
memory usage: 900.7+ KB

# Example of a Transaction

In [48]:
example_trans = df[df['OrderID'] == 536370] 
example_trans.head(100)

,OrderID,ProductName,Quantity,InvoiceDate,UnitPrice,TotalCost,Country,DiscountApplied,OrderPriority,Region,Segment,ExpeditedShipping,PaymentMethod,CustomerOrderSatisfaction
0,536370,INFLATABLE POLITICAL GLOBE,48,12/1/2010 8:45,$0.85,$40.80,United States,Yes,High,Northeast,Corporate,Yes,Credit Card,Satisfied
1,536370,SET2 RED RETROSPOT TEA TOWELS,18,12/1/2010 8:45,$2.95,$53.10,United States,Yes,High,Northeast,Corporate,Yes,Credit Card,Satisfied
2,536370,PANDA AND BUNNIES STICKER SHEET,12,12/1/2010 8:45,$0.85,$10.20,United States,Yes,High,Northeast,Corporate,Yes,Credit Card,Satisfied
3,536370,RED TOADSTOOL LED NIGHT LIGHT,24,12/1/2010 8:45,$1.65,$39.60,United States,Yes,High,Northeast,Corporate,Yes,Credit Card,Satisfied
4,536370,VINTAGE HEADS AND TAILS CARD GAME,24,12/1/2010 8:45,$1.25,$30.00,United States,Yes,High,Northeast,Corporate,Yes,Credit Card,Satisfied
5,536370,STARS GIFT TAPE,24,12/1/2010 8:45,$0.65,$15.60,United States,Yes,High,Northeast,Corporate,Yes,Credit Card,Satisfied
6,536370,VINTAGE SEASIDE JIGSAW PUZZLES,12,12/1/2010 8:45,$3.75,$45.00,United States,Yes,High,Northeast,Corporate,Yes,Credit Card,Satisfied
7,536370,ROUND SNACK BOXES SET OF4 WOODLAND,24,12/1/2010 8:45,$2.95,$70.80,United States,Yes,High,Northeast,Corporate,Yes,Credit Card,Satisfied
8,536370,MINI PAINT SET VINTAGE,36,12/1/2010 8:45,$0.65,$23.40,United States,Yes,High,Northeast,Corporate,Yes,Credit Card,Satisfied
9,536370,MINI JIGSAW CIRCUS PARADE,24,12/1/2010 8:45,$0.42,$10.08,United States,Yes,High,Northeast,Corporate,Yes,Credit Card,Satisfied
10,536370,MINI JIGSAW SPACEBOY,24,12/1/2010 8:45,$0.42,$10.08,United States,Yes,High,Northeast,Corporate,Yes,Credit Card,Satisfied
11,536370,SPACEBOY LUNCH BOX,24,12/1/2010 8:45,$1.95,$46.80,United States,Yes,High,Northeast,Corporate,Yes,Credit Card,Satisfied
12,536370,CIRCUS PARADE LUNCH BOX,24,12/1/2010 8:45,$1.95,$46.80,United States,Yes,High,Northeast,Corporate,Yes,Credit Card,Satisfied
13,536370,LUNCH BOX I LOVE LONDON,24,12/1/2010 8:45,$1.95,$46.80,United States,Yes,High,Northeast,Corporate,Yes,Credit Card,Satisfied
14,536370,CHARLOTTE BAG DOLLY GIRL DESIGN,20,12/1/2010 8:45,$0.85,$17.00,United States,Yes,High,Northeast,Corporate,Yes,Credit Card,Satisfied
15,536370,ALARM CLOCK BAKELIKE GREEN,12,12/1/2010 8:45,$3.75,$45.00,United States,Yes,High,Northeast,Corporate,Yes,Credit Card,Satisfied
16,536370,ALARM CLOCK BAKELIKE RED,24,12/1/2010 8:45,$3.75,$90.00,United States,Yes,High,Northeast,Corporate,Yes,Credit Card,Satisfied
17,536370,ALARM CLOCK BAKELIKE PINK,24,12/1/2010 8:45,$3.75,$90.00,United States,Yes,High,Northeast,Corporate,Yes,Credit Card,Satisfied
18,536370,SET 2 TEA TOWELS I LOVE LONDON,24,12/1/2010 8:45,$2.95,$70.80,United States,Yes,High,Northeast,Corporate,Yes,Credit Card,Satisfied

# Categorical Variables

In [49]:
# Select only categorical variables
df_cat = df.select_dtypes(exclude='number')
df_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8234 entries, 0 to 8233
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ProductName                8234 non-null   object
 1   InvoiceDate                8234 non-null   object
 2   UnitPrice                  8234 non-null   object
 3   TotalCost                  8234 non-null   object
 4   Country                    8234 non-null   object
 5   DiscountApplied            8234 non-null   object
 6   OrderPriority              8234 non-null   object
 7   Region                     8234 non-null   object
 8   Segment                    8234 non-null   object
 9   ExpeditedShipping          8234 non-null   object
 10  PaymentMethod              8234 non-null   object
 11  CustomerOrderSatisfaction  8234 non-null   object
dtypes: object(12)
memory usage: 772.1+ KB

In [50]:
# View distinct categories
df_cat.OrderPriority.value_counts()

OrderPriority
High      4320
Medium    3914
Name: count, dtype: int64

In [51]:
df_cat.CustomerOrderSatisfaction.value_counts()

CustomerOrderSatisfaction
Prefer not to answer    1880
Very Dissatisfied       1845
Dissatisfied            1589
Very Satisfied          1563
Satisfied               1357
Name: count, dtype: int64

# Encoding

In [52]:
# Logic adapted from GeeksforGeeks (2025e)
# Source: https://www.geeksforgeeks.org/machine-learning/how-to-perform-ordinal-encoding-using-sklearn/

from sklearn.preprocessing import OrdinalEncoder

# select categories to encode
categories = [["Prefer not to answer", "Very Dissatisfied", "Dissatisfied", "Satisfied", "Very Satisfied"]]

encoder = OrdinalEncoder(categories=categories, dtype=int)
df_encoded = df.copy()
# encode values and assign to new column
df_encoded[["Satisfaction_Score"]] = encoder.fit_transform(df_encoded[["CustomerOrderSatisfaction"]])
# drop original column
df_encoded.drop(columns=['CustomerOrderSatisfaction'], inplace=True)
df_encoded['Satisfaction_Score'].value_counts()

Satisfaction_Score
0    1880
1    1845
2    1589
4    1563
3    1357
Name: count, dtype: int64

In [53]:
# select categories to encode
categories = [["Medium", "High"]]
encoder = OrdinalEncoder(categories=categories, dtype=int)
# encode values and assign to new column
df_encoded[["OrderPriority_Score"]] = encoder.fit_transform(df_encoded[["OrderPriority"]])
# drop original column
df_encoded.drop(columns=['OrderPriority'], inplace=True)
df_encoded["OrderPriority_Score"].value_counts()

OrderPriority_Score
1    4320
0    3914
Name: count, dtype: int64

In [54]:
# encode the 2 columns
df_encoded = pd.get_dummies(df, columns=["DiscountApplied", "Segment"], drop_first=True, prefix=["DiscountApplied", "Segment"])
# Map values to 1 and 0
df_encoded['DiscountApplied_Yes'] = df_encoded['DiscountApplied_Yes'].map({True: 1, False: 0})
df_encoded['Segment_Corporate'] = df_encoded['Segment_Corporate'].map({True: 1, False: 0})
df_encoded.head()

,OrderID,ProductName,Quantity,InvoiceDate,UnitPrice,TotalCost,Country,OrderPriority,Region,ExpeditedShipping,PaymentMethod,CustomerOrderSatisfaction,DiscountApplied_Yes,Segment_Corporate
0,536370,INFLATABLE POLITICAL GLOBE,48,12/1/2010 8:45,$0.85,$40.80,United States,High,Northeast,Yes,Credit Card,Satisfied,1,1
1,536370,SET2 RED RETROSPOT TEA TOWELS,18,12/1/2010 8:45,$2.95,$53.10,United States,High,Northeast,Yes,Credit Card,Satisfied,1,1
2,536370,PANDA AND BUNNIES STICKER SHEET,12,12/1/2010 8:45,$0.85,$10.20,United States,High,Northeast,Yes,Credit Card,Satisfied,1,1
3,536370,RED TOADSTOOL LED NIGHT LIGHT,24,12/1/2010 8:45,$1.65,$39.60,United States,High,Northeast,Yes,Credit Card,Satisfied,1,1
4,536370,VINTAGE HEADS AND TAILS CARD GAME,24,12/1/2010 8:45,$1.25,$30.00,United States,High,Northeast,Yes,Credit Card,Satisfied,1,1

### Encode All Categorical Variables

In [55]:
# encode remaining columns
df_encoded = pd.get_dummies(df_encoded, columns=['Country', 'ExpeditedShipping', 'Region', 'PaymentMethod', 'ProductName'], 
                            prefix=['Country', 'ExpeditedShipping', 'Region', 'PaymentMethod', 'ProductName'])
# map values to 1 or 0
df_encoded = df_encoded.apply(lambda col: col.map({True: 1, False: 0}) if col.dtype == 'bool' else col)

In [56]:
df_encoded.head()

,OrderID,Quantity,InvoiceDate,UnitPrice,TotalCost,OrderPriority,CustomerOrderSatisfaction,DiscountApplied_Yes,Segment_Corporate,Country_United States,...,ProductName_WRAP VINTAGE PETALS DESIGN,ProductName_YELLOW COAT RACK PARIS FASHION,ProductName_YELLOW GIANT GARDEN THERMOMETER,ProductName_YELLOW SHARK HELICOPTER,ProductName_ZINC STAR TLIGHT HOLDER,ProductName_ZINC FOLKART SLEIGH BELLS,ProductName_ZINC HERB GARDEN CONTAINER,ProductName_ZINC METAL HEART DECORATION,ProductName_ZINC TLIGHT HOLDER STAR LARGE,ProductName_ZINC TLIGHT HOLDER STARS SMALL
0,536370,48,12/1/2010 8:45,$0.85,$40.80,High,Satisfied,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,536370,18,12/1/2010 8:45,$2.95,$53.10,High,Satisfied,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,536370,12,12/1/2010 8:45,$0.85,$10.20,High,Satisfied,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,536370,24,12/1/2010 8:45,$1.65,$39.60,High,Satisfied,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,536370,24,12/1/2010 8:45,$1.25,$30.00,High,Satisfied,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [57]:
# export df to csv
df_encoded.to_csv('Encoded_All.csv', index=False)

### Transactionalize Data

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8234 entries, 0 to 8233
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   OrderID                    8234 non-null   int64
 1   ProductName                8234 non-null   object
 2   Quantity                   8234 non-null   int64
 3   InvoiceDate                8234 non-null   object
 4   UnitPrice                  8234 non-null   object
 5   TotalCost                  8234 non-null   object
 6   Country                    8234 non-null   object
 7   DiscountApplied            8234 non-null   object
 8   OrderPriority              8234 non-null   object
 9   Region                     8234 non-null   object
 10  Segment                    8234 non-null   object
 11  ExpeditedShipping          8234 non-null   object
 12  PaymentMethod              8234 non-null   object
 13  CustomerOrderSatisfaction  8234 non-null   object
dtypes: int64(2), object(12)
memory usage: 900.7+ KB

In [59]:
# only keep columns necessary for transactionalizing
cols_keep = ['OrderID', 'ProductName']
df = df[cols_keep]
df.head()

   OrderID                         ProductName
0   536370         INFLATABLE POLITICAL GLOBE
1   536370      SET2 RED RETROSPOT TEA TOWELS
2   536370     PANDA AND BUNNIES STICKER SHEET
3   536370       RED TOADSTOOL LED NIGHT LIGHT
4   536370  VINTAGE HEADS AND TAILS CARD GAME

In [60]:
# encode product names
df = pd.get_dummies(df, columns=['ProductName'], drop_first=True)
# group by the order ID to get products in a singular transaction
df = df.groupby('OrderID').any().reset_index()
df.drop(columns=['OrderID'], inplace= True)
df.head()

,ProductName_ DOLLY GIRL BEAKER,ProductName_ I LOVE LONDON MINI BACKPACK,ProductName_ NINE DRAWER OFFICE TIDY,ProductName_ SET 2 TEA TOWELS I LOVE LONDON,ProductName_ SPACEBOY BABY GIFT SET,ProductName_ TRELLIS COAT RACK,ProductName_10 COLOUR SPACEBOY PEN,ProductName_12 COLOURED PARTY BALLOONS,ProductName_12 EGG HOUSE PAINTED WOOD,ProductName_12 MESSAGE CARDS WITH ENVELOPES,...,ProductName_WRAP VINTAGE PETALS DESIGN,ProductName_YELLOW COAT RACK PARIS FASHION,ProductName_YELLOW GIANT GARDEN THERMOMETER,ProductName_YELLOW SHARK HELICOPTER,ProductName_ZINC STAR TLIGHT HOLDER,ProductName_ZINC FOLKART SLEIGH BELLS,ProductName_ZINC HERB GARDEN CONTAINER,ProductName_ZINC METAL HEART DECORATION,ProductName_ZINC TLIGHT HOLDER STAR LARGE,ProductName_ZINC TLIGHT HOLDER STARS SMALL
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [61]:
# export df to csv
df.to_csv('Transactional.csv', index=False)

# Market Basket Analysis

In [62]:
# Logic adapted from GeeksforGeeks (2025f)
# Source: https://www.geeksforgeeks.org/machine-learning/apriori-algorithm/
from mlxtend.frequent_patterns import apriori, association_rules

# use apriori function where the data exists at least 1% of the time
itemsets = apriori(df, min_support=.01, use_colnames=True)
print(itemsets.shape[0])

8340

### Find Association Rules

In [63]:
# find association rules based on lift
rules = association_rules(itemsets, metric="lift", min_threshold=1)
rules.shape[0]
print(rules.head())

                                     antecedents  \
0               (ProductName_ DOLLY GIRL BEAKER)
1  (ProductName_CHARLOTTE BAG DOLLY GIRL DESIGN)
2               (ProductName_ DOLLY GIRL BEAKER)
3        (ProductName_DOLLY GIRL CHILDRENS BOWL)
4               (ProductName_ DOLLY GIRL BEAKER)

                                     consequents  antecedent support  \
0  (ProductName_CHARLOTTE BAG DOLLY GIRL DESIGN)            0.020408
1               (ProductName_ DOLLY GIRL BEAKER)            0.058957
2        (ProductName_DOLLY GIRL CHILDRENS BOWL)            0.020408
3               (ProductName_ DOLLY GIRL BEAKER)            0.040816
4         (ProductName_DOLLY GIRL CHILDRENS CUP)            0.020408

   consequent support   support  confidence       lift  representativity  \
0            0.058957  0.011338    0.555556   9.423077               1.0
1            0.020408  0.011338    0.192308   9.423077               1.0
2            0.040816  0.015873    0.777778  19.055556               1.0
3            0.020408  0.015873    0.388889  19.055556               1.0
4            0.036281  0.013605    0.666667  18.375000               1.0

   leverage  conviction  zhangs_metric   jaccard  certainty  kulczynski
0  0.010135    2.117347       0.912500  0.166667   0.527711    0.373932
1  0.010135    1.212828       0.949880  0.166667   0.175481    0.373932
2  0.015040    4.316327       0.967262  0.350000   0.768322    0.583333
3  0.015040    1.602968       0.987842  0.350000   0.376157    0.583333
4  0.012865    2.891156       0.965278  0.315789   0.654118    0.520833

In [65]:
# sort rules by the lift value 
rules = rules.sort_values(by='lift', ascending=False)
pd.set_option("display.max_colwidth", None)
# print top 3 rules with metrics
rules[['antecedents', 'consequents', 'lift', 'confidence', 'support']].head(3)

,antecedents,consequents,lift,confidence,support
67961,"(ProductName_ALARM CLOCK BAKELIKE IVORY, ProductName_ALARM CLOCK BAKELIKE GREEN, ProductName_PLASTERS IN TIN SPACEBOY)","(ProductName_PLASTERS IN TIN CIRCUS PARADE , ProductName_CHARLOTTE BAG DOLLY GIRL DESIGN, ProductName_ALARM CLOCK BAKELIKE PINK)",88.2,1.0,0.011338
75198,"(ProductName_ALARM CLOCK BAKELIKE RED , ProductName_ROUND SNACK BOXES SET OF4 WOODLAND , ProductName_CHILDRENS CUTLERY SPACEBOY , ProductName_SPACEBOY BIRTHDAY CARD)","(ProductName_CARD DOLLY GIRL , ProductName_ALARM CLOCK BAKELIKE PINK)",88.2,1.0,0.011338
75073,"(ProductName_ALARM CLOCK BAKELIKE RED , ProductName_CHILDRENS CUTLERY DOLLY GIRL , ProductName_SPACEBOY BIRTHDAY CARD, ProductName_CHILDRENS CUTLERY SPACEBOY )","(ProductName_CARD DOLLY GIRL , ProductName_ALARM CLOCK BAKELIKE PINK)",88.2,1.0,0.011338